section {
    display: flex;
   
}

.product-grid {
    
    display: flex;
    flex-wrap: wrap;
    
    margin-left: -8px;
    margin-right: -8px;
    
    
}

.img-container {
    padding-left: 8px;
    padding-right: 8px;
    overflow: hidden;
    height: 500px;
    width: 600px;
    

    }

.img-container a {
    display: flex;
    max-width: 100%;
    height: auto;
    padding: 10px;
    transform: scale(0.7);
      
}

.detail-product {
    display: flex;
    justify-content:center;
    align-items: center;
    text-align: left;
    font-size: 15px;

}

div {
    display: flex;
}




.img-container a:hover {
    transform: scale(1);
}

