section {
  display: flex;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.img-container a{
  display: flex;
  justify-content:flex-end;
  align-items: center;
  flex-direction: column; 
  height: 700px;
  width: 500px; 
  transform: scale(0.85);
}

.img-product {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("img/manteau.JPG");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 500px;
  width: 100%;
  
}


.product-title {
  display: flex;
  justify-content: center;
  align-items: center;  
  font-family: "IBM Plex Sans", sans-serif;  
  text-align: center;
  font-size: 30px;
}

.product-price {
  display: flex;
  justify-content: center;
  align-items: center;  
  font-family: "IBM Plex Sans", sans-serif;
  padding-bottom: 60px;
  text-align: center;
  font-size: 30px;

}

.img-container a:hover {
  transform: scale(1);
}

h1 {
  padding-top: 90px;
}

@media (max-width: 600px) {
  .row {
    flex-direction: column;
    

  }

  .product-grid{
    
    justify-content: center;
  }

h1 {
  justify-content: center;
}}


