@media screen {
body {
    overflow-x: hidden;/*contournement du pb...*/
 }

 .body {
  display: flex
}



/* Styles du block de gauche */



.leftBody {
  /*grid-column: 1 / 3;
  grid-row: 1/2;*/
  width: 25vw;
  position: relative
}

.centerBody {
  /*grid-column: 2 / 3;
  grid-row: 1/2;*/
  position: relative;
  display: flex;
  justify-content: center;
  width: 50vw;
  overflow:hidden;
}

.rightBody {
  /*grid-column: 3 / 3;
  grid-row: 1/2;*/
  
  position: relative;
  display : flex;
  width : 25vw;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20px;
  padding-top : 50px;
}

.bottomMini {
  /*grid-column: 2/3;
  grid-row: 2 / 2;*/
  position: relative;
  
  padding-top: 50px;
  display: flex;
  justify-content: center;
}


.sizeButton,
.colorButton {
  background-color:rgb(244, 172, 4);
  color: white;
  font-size: 16px;
  border: none;
  width: 150px;
  height: 51px;
}

.textQuantity {
  font-weight: 800;

}

.selectQuantity {
    border: none; 
    color: black;
    cursor: pointer;
    width: 50px;
    height: 55px;
    border: 2px solid #000000;
    border-right: none;
}

.selectQuantity:hover {
  background-color:rgb(244, 172, 4);
  color: white;
}

.validatButton {
  background-color:rgb(244, 172, 4);
  color: white;  
  border: 2px solid #555555;  
  border-left: none;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;

}

.validatButton:hover {
  background-color: white;
  color: black;
}

.menuSize,
.menuColor {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.menuSize a,
.menuColor a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: 'Times New Roman', Times, serif;
}


/* couleur lien dropdown on hover */
.menuSize a:hover,
.menuColor a:hover {
  background-color:rgb(244, 172, 4);
}

/* Show the dropdown menu on hover */
.sizeChoice:hover .menuSize,
.colorChoice:hover .menuColor {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.sizeChoice:hover .sizeButton,
.colorChoice:hover .colorButton {
  background-color: rgb(244, 172, 4);
  color: black;
  width: 150px;
  height: 51px;
}

.containerEtiquette {
  position: relative;
  text-align: center;
  color: white;
  text-overflow: "";
}

.containerEtiquette img {
  width: 70%;

  padding-right: 20px;

}
.textEtiquette {
  position: absolute;
  text-overflow: "";
  top: 25%;
  left: 38%;
  padding-right: 87px;
}
.textEtiquette p:first-child{
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
}
.textEtiquette p:last-child{
  font-family: 'Courier New', Courier, monospace;
  font-weight: 800;
}
.textEtiquette p{
  font-size: 1.1em;
}

.nameProduit {
  font-family: 'Akaya Telivigala', cursive;
  font-size: 2em;
  font-weight: 800;
  padding-bottom: 1em;
}

.price {
  font-family: 'Fascinate', cursive;
  font-size: 4em;
  font-weight: 900;
  margin-bottom: 40px;
  margin-right: 50px
}

.sizeColor {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.quantityValidity {
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin-top: 60%;
  position: relative;
}


.img {
  transition:0.2s;
}

.imgOverflow {
  overflow:hidden;
  transition:0.2s;
}


.img:hover {
  cursor:pointer;
  transform:scale(2.2);
  
  }

.icon {
  height: 30px;
  padding-right: 20px;
}

.iconSocial {
  
  display: flex;
  flex-direction: row;

}

.miniProduit {
  padding-right: 20px;
  height: 150px;
}

.bottomMini {
  margin-bottom: 20px;
}

.textPartage {
  padding-bottom: 10px;
  font-size: 1.2em;
  font-weight: 600;
}

}

@media (width < 1200px) {
  body { 
    overflow-x: hidden; /*contournement du pb...*/
  }



  .body { 
    flex-direction: column;
}
  
  .leftBody {
    width: 100vw;
    position: relative
}
 
  .centerBody {
    width: 100vw;
    position: relative;
    order: -1;
}
  
  .rightBody {

    }

  .imgOverflow img {
    width: 100vw;
    position: relative;

  }

 .miniProduit { display: none }

 .price {
 
  width: 100vw;

}

.nameProduit {
  width: 100vw;
  padding-bottom: 0.5em;
}
.sizeChoice , .colorChoice{
  display: flex;
  flex-direction: row;
  justify-content: none;
  }

.sizeColor {
  display: flex;
  flex-direction: column;
  justify-content: none;
  width: 100vw;
  height: 41px;
  margin-bottom: 100px;
}

.menuSize,
.menuColor {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100vw;
  height: 51px;
  box-shadow: none;
   
}

.menuSize a {
  border-radius: 75%;
  border: solid;
  margin-right: 5px;
  margin-left: 5px;
  text-align: center;
  line-height: 25px; /* centrage vertical */
  width: 100vw;
}

.menuColor a {
  border-radius: 75%;
  border: solid;
  margin-right: 5px;
  margin-left: 5px;
  text-align: center;
  line-height: 5px; /* centrage vertical */
  font-size: 0%; /* ne pas afficher le text */
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin-top: 5px;
  box-shadow: none;
  border-color: black;
}

.menuColor .blue { background: blue }
.menuColor .green { background: green }
.menuColor .white { background: white }
.menuColor .black { background: black }
.menuColor .red { background: red }


.quantityValidity {
    display: flex;
    flex-direction: row;
    position: relative;

   
    justify-content: left;
    margin-top: 0;
  


  }

.quantity {
  display: flex;
  position: relative;
}
.selectQuantity {
    display: flex;
    position: relative;
}

.textQuantity {
  line-height: 50px; /* centrage vertical */
  margin-right: 10px;

}

.validatButton {
  background-color:rgb(244, 172, 4);
  color: white;  
  border: 2px solid #555555;  
  border-left: none;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.textEtiquette {
  position: relative;
  
  top: 0;
  left: 0;
  padding-right: 0;
 
}

.containerEtiquette {
  display: flex;
  flex-direction: row;
  position: relative;
  color: white;
  padding-bottom: 10px;
}

.textEtiquette p {
text-align: left;
width: 80vw;
color: black;
margin-bottom: 10px;
}

.containerEtiquette img {
 display: none;
 padding-right: 0;
 padding-left: 0;
}

.socialProduit {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.textPartage {
  display: flex;
  width: 100vw;
}


}
