/* les 3 blocks */

.leftBody {
  width: 25vw;
  padding-left: 10px;
}

.centerBody {
  display: flex;
  justify-content: center;
  width: 50vw;
}

.rightBody {
  width: 25vw;
  display: flex;
  flex-direction: column;
  
  padding-top : 50px;
}

/* image */

.name {
  font-family: "RocknRoll One", sans-serif;
  font-size: 2em;
  font-weight: 600;
  padding-bottom: 1em;
}

.price {
  font-family: "Fascinate", cursive;
  font-size: 4em;
  font-weight: 900;
  margin-bottom: 20px;
}


.body {
  display: flex;

}

.rightBody {
  justify-content: space-between;
}

.bottomMini {
  width: 100vw;
  padding-top: 50px;
  display: flex;
  justify-content: center;
}


/* Style des menus */

.sizeButton,
.colorButton {
  background-color: #4caf50;
  color: white;
  padding: 4px;
  font-size: 16px;
  border: none;
  margin-bottom: 20px;

}
.quantity {
  margin-bottom: 20px;
}

.menuSize,
.menuColor {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.menuSize a,
.menuColor a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.menuSize a:hover,
.menuColor a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.sizeChoice:hover .menuSize,
.colorChoice:hover .menuColor {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.sizeChoice:hover .sizeButton,
.colorChoice:hover .colorButton {
  background-color: #3e8e41;
}

.img:hover {
    cursor:pointer;
    transform:scale(1.2);
  }

.icon {
  height: 50px;
  padding-right: 10px;
}

.iconSocial {
  
  display: flex;
  flex-direction: row;

}

.miniProduit {
  padding-right: 20px;
}

.bottomMini {
  margin-bottom: 20px;
}

.textPartage {
  padding-bottom: 10px;
  font-size: 1.2em;
  font-weight: 600;
}