* {
  box-sizing: border-box;
}

.top {
  position: relative;
  height: 101px;
}

nav li {
  display: flex;
  margin: 10px;
  margin-left: 15px;
}

h1 {
  font-family: "Montserrat", sans-serif;

  text-align: center;
  line-height: 30px;
  font-size: 55px;
  margin-top: 100px;
  margin-bottom: 100px;
  font-weight: 900;
  letter-spacing: 7px;
  text-transform: uppercase;
  color: rgb(244, 172, 4);
}

.mosaic {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.mosaic img {
  width: 92%;
  height: 95%;
  margin-left: 10px;
  margin-right: 10px;
  transform: scale(0.9);
}
.mosaic img:hover {
  transform: scale(1);
}

article {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin-top: 200px;
  text-align: center;
}
.titreimg {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

p {
  font-family: "Gotham SSm A", sans-serif, "Helvetica Neue", "Helvetica",
    Helvetica, Arial, sans-serif;
}

footer {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: blanchedalmond;
}

.find {
  color: white;
  margin: 20px;
  padding: 20px;
}

.find a {
  color: white;
}
.social {
  padding: 20px;
  margin: 20px;
}

.logo a {
  display: flex;
  justify-content: center;

  height: 100px;
}

.companyName a{
  display: flex;
  justify-content: center;
  color: rgb(244, 172, 4);
  font: italic small-caps bold 30px/2 cursive;
}

.mosaic2 img {
  width: 92%;
  height: 95%;
  margin-left: 10px;
  margin-right: 10px;
  transform: scale(0.9);
}
.mosaic2 img:hover {
  transform: scale(1);
}

.mosaic2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
